<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Tailwind -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        crossorigin="anonymous" />
    <link rel="stylesheet" href="../static/font-awesome.min.css">
    <title>Home</title>
</head>

<body class="bg-gray-100">
    <!-- main  -->
    <div class="bg-gray-100 w-screen h-screen flex flex-row justify-start shadow-xl overflow-hidden">
        <!-- sidebar -->
        <div
            class="bg-white w-1/6 h-full py-10 flex flex-col justify-start items-center rounded-r-[2rem] overflow-hidden">
            <div class="w-full">

                <!-- logo and name -->
                <div class="flex flex-col justify-center items-center mb-32">
                    <!-- logo -->
                    <div class="flex justify-left items-left mt-12">
                        <div class="h-20 w-20 mb-2">
                            <img src="{{ url_for('static', filename='logo.svg') }}" alt="logo" />
                        </div>
                    </div>

                    <!-- name -->
                    <div class="font-semibold text-3xl text-gray-700 mt-1">
                        safe contact
                    </div>
                </div>
            </div>

            <!-- vertical navbar -->
            <aside class="flex flex-col items-center text-gray-700 w-full">
                <!-- Side Nav Bar-->
                <ul class="text-bold">
                    <!-- Items Section -->
                    <li class="hover:text-yellow-500 w-full flex flex-row">
                        <i class="fa-solid fa-house-chimney fa-lg h-4 mt-7"></i>
                        <a href="." class="ml-3 h-16 flex justify-left items-center w-full focus:text-gra">
                            Overview
                        </a>
                    </li>

                    <li class="hover:text-yellow-500 w-full flex flex-row">
                        <i class="fa-solid fa-mobile h-4 mt-6 ml-1"></i>
                        <a href="/connection" class="ml-4 h-16 flex justify-left items-center w-full
  					focus:text-gray-600">
                            Connections
                        </a>
                    </li>

                    <!-- <li class="hover:bg-gray-100 w-full flex flex-row">
                        <i class="fa-solid fa-house-chimney"></i>
                        <a href="." class="h-16 flex justify-left items-center w-full
  					focus:text-orange-500">
                            Friends

                        </a>
                    </li> -->

                    <li class="hover:text-yellow-500 w-full flex flex-row ">
                        <i class="fa-solid fa-gear fa-spin h-4 mt-6"></i>
                        <a href="/settings" class="ml-4 h-16 flex justify-left items-center w-full
  					focus:text-gray-600">
                            Settings
                        </a>
                    </li>

                </ul>
            </aside>

        </div>
        <!-- rhs -->
        <div class="flex flex-col w-5/6 bg-gray-100 h-full p-8">
            {% block content %} {% endblock %}


        </div>
    </div>

    </div>
    </div>
    <script src="https://kit.fontawesome.com/8fca0e2e35.js" crossorigin="anonymous"></script>
</body>

</html>