<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='login.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='home.css') }}"
    />

    <!-- Tailwind -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/output.css') }}"
    />

    <!-- Title of the website -->
    <title>{% block title %}Home{% endblock %}</title>
  </head>

  <body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-light">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar"
      >
        <span class="navbar-toggle-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <div
          class="navbar-nav d-flex justify-content-between"
          style="width: 100%"
        ></div>
      </div>
    </nav>

    <!-- error/success message(s) -->
    <!-- get the flashed messages from the request -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    <!-- if there are messages: -->
    {% if messages %}
    <!-- loop through each message including its category -->
    {% for category, message in messages %}
    <!-- if the category is error -->
    {% if category == "error" %}
    <!-- error message(s) -->

    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong>{{ message }}</strong>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% elif category == "success" %}
    <!-- success message(s) -->
    <div class="alert alert-success alert-dismissable fade show" role="alert">
      <strong>{{ message }}</strong>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}

    <!-- content -->
    <div class="page-header">{% block page_header %}{% endblock%}</div>
    <div class="home-bar">{% block home_bar %} {% endblock %}</div>
    <!-- <div class='logo2'> -->

    <!-- </div> -->
    <div class="content">{% block content %} {% endblock %}</div>

    <!-- <hr style="background-color: grey" />
    <footer style="text-align: center; color: grey">©GTA VI 2022</footer> -->

    <!-- JQurey, Bootstrap, and PopperJS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

    <!-- your own javascript -->
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='index.js') }}"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='Course_List.json') }}"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='course.js') }}"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='dropdown.js') }}"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='view.js') }}"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='modals.js') }}"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='viewqanda.js') }}"
    ></script>
  </body>
</html>
