<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Tailwind -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        crossorigin="anonymous" />
    <link rel="stylesheet" href="../static/font-awesome.min.css">
    <title>Home</title>
</head>

<body class="bg-gray-100">
    <!-- main  -->
    <div class="bg-gray-100 w-screen h-screen flex flex-row justify-start shadow-xl overflow-hidden">
        <!-- sidebar -->
        <div
            class="bg-white w-1/6 h-full py-10 flex flex-col justify-center items-center rounded-r-[2rem] overflow-hidden">
            <!-- logo and name -->
            <div class="flex flex-col justify-center items-center mb-32">
                <!-- logo -->
                <div class="flex justify-left items-left">
                    <div class="h-10 w-10 mb-2">
                        <img src="{{ url_for('static', filename='logo.svg') }}" style="width: 150px;" alt="logo" />
                    </div>
                </div>

                <!-- name -->
                <div class="font-semibold text-xl text-gray-600">
                    safe contact
                </div>
            </div>

            <!-- vertical navbar -->
            <aside class="flex flex-col items-center text-gray-700 w-full ">
                <!-- Side Nav Bar-->

                <ul class="text-bold text-gr">
                    <!-- Items Section -->
                    <li class="hover:bg-gray-100 w-full flex flex-row">
                        <i class="fa-solid fa-house-chimney fa-lg text-black bg-black"></i>
                        <a href="." class="h-16 flex justify-left items-center w-full focus:text-orange-500">
                            Overview
                        </a>
                    </li>

                    <li class="hover:bg-gray-100 w-full flex flex-row">
                        <i class="fa-solid fa-house-chimney"></i>
                        <a href="/connection" class="h-16 flex justify-left items-center w-full
  					focus:text-orange-500">
                            Connections
                        </a>
                    </li>

                    <!-- <li class="hover:bg-gray-100 w-full flex flex-row">
                        <i class="fa-solid fa-house-chimney"></i>
                        <a href="." class="h-16 flex justify-left items-center w-full
  					focus:text-orange-500">
                            Friends

                        </a>
                    </li> -->

                    <li class="hover:bg-gray-100 w-full flex flex-row">
                        <i class="fa-solid fa-house-chimney"></i>
                        <a href="/settings" class="h-16 flex justify-left items-center w-full
  					focus:text-orange-500">
                            Settings
                        </a>
                    </li>

                </ul>
            </aside>

        </div>
        <!-- rhs -->
        <div class="flex flex-col w-5/6 bg-gray-100 h-full p-8">
            {% block content %} {% endblock %}


        </div>
    </div>

    </div>
    </div>
</body>

</html>