{% extends "base_home.html"%} {% block content %}

<!-- rhs -->
<div class="flex flex-col w-full h-full p-5">
  <!-- profile and logout -->
  <div class="upperhalf w-full h-40 flex flex-row justify-between items-center px-5">
    <!-- profile -->
    <div class="flex flex-row gap-3 items-center">
      <div class="rounded-full w-16 h-16 bg-red-300"></div>
      <div class="text-black text-3xl font-semibold">Hi, Username!</div>
    </div>
    <!-- logout -->
    <button class="bg-black hover:bg-gray-500 text-white font-bold py-2 px-6 rounded-full">
      <a href="/logout" class=" flex justify-left items-center w-full">
        Logout
      </a>
    </button>
  </div>

  <!-- two containers (CONTENT) -->
  <div class="bottomhalf flex flex-row w-full h-full">
    <!-- left container -->
    <div class="left flex flex-col justify-start h-full w-3/5 mr-10">
      <!-- Title -->
      <div class="w-full font-regular text-5xl text-black mb-4">
        Live Sessions
      </div>
      <!-- cards -->
      <div class="h-full w-full flex flex-col justify-start gap-y-6">
        <!-- card -->
        <div class="home-card w-full h-1/3 bg-white shadow-lg p-4 rounded-3xl">
          <div class="home-card-content w-full h-full flex flex-row">
            <div class="lhs w-1/3 bg-green-300 h-full rounded-[2rem]"></div>
            <div class="rhs w-2/3 h-full flex flex-col justify-between p-3">
              <div class="w-full block">
                <div class="name text-lg text-black font-bold">
                  Name of Friend
                </div>
                <div class="location text-sm text-black">
                  Description of where they are/what they are doing
                </div>
              </div>
              <div class="w-full flex flex-row justify-between">
                <div class="name text-sm text-black flex justify-center items-center">
                  <div>Start - Current</div>
                </div>
                <button class="bg-black hover:bg-gray-500 text-white font-bold py-2 px-6 rounded-full">
                  End
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="home-card w-full h-1/3 bg-white shadow-lg p-4 rounded-3xl">
          <div class="home-card-content w-full h-full flex flex-row">
            <div class="lhs w-1/3 bg-blue-300 h-full rounded-[2rem]"></div>
            <div class="rhs w-2/3 h-full flex flex-col justify-between p-3">
              <div class="w-full block">
                <div class="name text-lg text-black font-bold">
                  Name of Friend
                </div>
                <div class="location text-sm text-black">
                  Description of where they are/what they are doing
                </div>
              </div>
              <div class="w-full flex flex-row justify-between">
                <div class="name text-sm text-black flex justify-center items-center">
                  <div>Start - Current</div>
                </div>
                <button class="bg-black hover:bg-gray-500 text-white font-bold py-2 px-6 rounded-full">
                  End
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="home-card w-full h-1/3 bg-white shadow-lg p-4 rounded-3xl">
          <div class="home-card-content w-full h-full flex flex-row">
            <div class="lhs w-1/3 bg-red-300 h-full rounded-[2rem]"></div>
            <div class="rhs w-2/3 h-full flex flex-col justify-between p-3">
              <div class="w-full block">
                <div class="name text-lg text-black font-bold">
                  Name of Friend
                </div>
                <div class="location text-sm text-black">
                  Description of where they are/what they are doing
                </div>
              </div>
              <div class="w-full flex flex-row justify-between">
                <div class="name text-sm text-black flex justify-center items-center">
                  <div>Start - Current</div>
                </div>
                <button class="bg-black hover:bg-gray-500 text-white font-bold py-2 px-6 rounded-full">
                  End
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- right container -->
    <div class="h-full w-2/5 flex flex-col justify-start">
      <div class="h-1/4 w-full bg-red-500"></div>
      <div class="h-3/4 w-full flex flex-col">
        <div class="flex flex-row justify-between">
          <div class="text-black font-bold text-xl">Friends List</div>
        </div>
        <!-- friend card -->
        <div class="flex flex-row w-full h-1/6 shadow-md bg-gray-100 rounded-[2rem] overflow-hidden p-3">
          <div class="h-full w-1/5 bg-blue-500 border-r-[3px] border-gray-300 flex justify-center items-center">
            <div class="h-16 w-16 bg-pink-300 rounded-full text-6xl flex justify-center items-center">01</div>
          </div>
          <div class="h-full w-4/5 bg-green-500 flex flex-row justify-between">
            <div class="flex flex-col w-1/2 h-full bg-purple-300">
              <div class="text-xl">Bhagya Patel</div>
              <div class="text-base">User Bio</div>
            </div>
            <div class="flex justify-center items-center">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}