{% extends "base.html"%} {% block title %} Login {% endblock %} {% block content %}
<!-- window -->
<div class="w-full h-full bg-black flex justify-center items-center">
    <!-- outer grey box -->
    <div class="w-full h-full bg-gradient-to-r from-white via-white to-gray-100 flex justify-evenly flex-col sm:flex-row p-20">



        <!-- left box -->
        <div class=" w-2/5 p-12 rounded-xl">
            <!-- content -->
            <form method="POST">
                <div>
                    <div class="flex flex-row mb-16">
                        <!-- logo -->
                        <div class="flex justify-center items-center">

                            <div class="h-10 w-10 mb-4"><img src="{{ url_for('static', filename='logo.svg') }}"
                                    style="width: 80px, he" alt="logo" /></div>
                        </div>
                        <!-- title and sub-title -->

                        <!-- title -->
                        <div class="font-regular text-3xl text-gray-500 ml-4 mt-[3px]">
                            Safe Contact
                        </div>
                    </div>
                    <!-- text -->
                    <div class="mb-12">
                        <!-- title and sub-title -->
                        <div>
                            <!-- title -->
                            <div class="font-medium text-3xl mb-2">
                                Welcome back!
                            </div>
                            <!-- sub title -->
                            <div class="font-light text-sm">
                                Please login in to your account.
                            </div>
                        </div>
                    </div>


                    <!-- fields -->
                    <div>
                        <!-- email field -->
                        <div class=mb-6>
                            <!-- Username -->
                            <label for="username">Username</label>
                            <input type="text" id="username" name="username" placeholder="Username"
                                class="form-control block p-4 w-full text-black bg-[#e9e9e9] rounded-lg border sm:text-md focus:ring-gray-300 focus:border-l-2 m"
                                id="email large-input" name="email" placeholder="Email" />
                        </div>
                        <!-- password field -->
                        <div class=mb-12>
                            <!-- Password -->
                            <label for="password">Password</label>
                            <input type="password" id="password" name="password" placeholder="Password"
                                class="form-control block p-4 w-full text-black bg-[#e9e9e9] rounded-lg border sm:text-md focus:ring-gray-300 focus:border-l-2" />
                        </div>
                    </div>
                </div>

                <!-- buttons -->
                <div class="flex mb-20">
                    <!-- login button -->
                    <div class="w-full">
                        <button type="Submit"
                            class="w-full h-[55px] bg-black hover:bg-gray-700 text-white hover:text-white hover:border-black font-medium py-2 px-4 rounded">
                            Login
                        </button>
                    </div>
                </div>
                <br>
                <!-- sign up button -->
                <div class="flex">
                    Don't have an account yet?
                    <a href="/sign-up" class="ml-4">
                        <b class="underline">Create a account</b>
                    </a>
                </div>
            </form>
        </div>

        <!-- left smaller box -->
        <div class="w-1/2 flex flex-col justify-between">
            <div class="top">

 <a href="https://iradesign.io"></a> 
                <!-- text -->
                <div class="flex">

                    <!-- Flashed messages -->
                    {% with messages = get_flashed_messages(with_categories=true) %}{% if messages %}{% for category, message in messages %}
                    <!-- if the category is error -->
                    {% if category == "error" %}
                    <!-- error message(s) -->
                    <div class="text-md font-light text-black p-4 rounded-md bg-[#FF9E9E]">
                        <strong>{{ message }}</strong>
                    </div>
                    {% elif category == "success" %}
                    <!-- success message(s) -->
                    <div class="text-md font-light text-black p-4 rounded-md bg-[#9EFFBA]">
                        <strong>{{ message }}</strong>
                    </div>
                    {% endif %} {% endfor %} {% endif %} {% endwith %}

                </div>
            </div>

        </div>
    </div>

    {% endblock %}
</div>
</div>
</div>