{% extends "base.html"%} {% block title %} Login {% endblock %} {% block content %}
<!-- window -->
<div class="w-full h-full bg-black flex justify-center items-center">
    <!-- outer grey box -->
    <div class="h-4/6 w-4/5 bg-[#343434] flex justify-evenly flex-col sm:flex-row p-20 rounded-3xl">

        <!-- left smaller box -->
        <div class="w-1/2 pr-36 flex flex-col justify-between">
            <div class="top">
                <!-- logo -->
                <div class="h-20 w-20 mb-4 mt-10"><img src="{{ url_for('static', filename='logo.svg') }}" style="width: 80px, he" alt="logo" class="mt-3 mb-4 pb-1" /></div>

                <!-- text -->
                <div>
                    <!-- title and sub-title -->
                    <div>
                        <!-- title -->
                        <div class="font-bold text-5xl  text-[#fff] mb-1">
                            Safe Contact
                        </div>
                        <!-- sub title -->
                        <div class="text-lg text-[#c5c5c5] mb-8 font-light">
                            GTA IV
                        </div>
                    </div>

                    <!-- description -->
                    <div class="text-md font-light text-[#d0d0d0]">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni neque aperiam mollitia exercitationem hic reiciendis, excepturi ullam vero quia sit, culpa facere laudantium voluptate modi animi ut. Iure, labore quae.
                    </div>
                </div>
            </div>

            <!-- copyright and made with love  -->
            <div class="block">
                <div class="text-md text-white font-light">Made with love ❤️</div>
            </div>
        </div>

        <!-- right smaller box (lighter grey) -->
        <div class="bg-[#eeeeee] w-2/5 p-16 rounded-xl">
            <!-- content -->
            <form>
                <div>
                    <!-- text -->
                    <div class="mb-12">
                        <!-- title and sub-title -->
                        <div>
                            <!-- title -->
                            <div class="font-bold text-3xl mb-2">
                                Login
                            </div>
                            <!-- sub title -->
                            <div class="font-light text-sm">
                                Welcome back! Please login to your account.
                            </div>
                        </div>
                    </div>


                    <!-- fields -->
                    <div>
                        <!-- email field -->
                        <div class=mb-6>
                            <!-- Username -->
                            <input type="text" id="username" name="username" placeholder="Enter username" class="form-control block p-4 w-full text-black bg-[#fff] rounded-lg border sm:text-md focus:ring-gray-300 focus:border-l-2 focus:border-l-black" id="email large-input" name="email"
                                placeholder="Email" />
                        </div>
                        <!-- password field -->
                        <div class=mb-12>
                            <!-- Password -->
                            <input type="password" id="init_password" name="init_password" placeholder="Enter password" class="form-control block p-4 w-full text-black bg-[#fff] rounded-lg border sm:text-md focus:ring-gray-300 focus:border-l-2 focus:border-l-black" id="password large-input"
                                name="password" placeholder="Password" />
                        </div>
                    </div>
                </div>

                <!-- buttons -->
                <div class="flex">
                    <!-- login button -->
                    <div class="w-1/2">
                        <!-- Login -->
                        <button type="Submit" class="bg-black hover:bg-white text-white hover:text-black hover:border-black font-bold py-2 px-4 rounded w-4/5">
                        Login
                    </button>
                    </div>
                    <!-- sign up button -->
                    <div class="w-1/2 text-right">
                        <!-- Sign Up -->
                        <a href="/sign-up"><button type="button" class="bg-transparent hover:bg-black hover:text-white text-black font-semibold  hover:border-black py-2 px-4 border border-black hover:border-transparent rounded w-4/5">
                        Sign Up
                        </button></a>
                    </div>
                </div>
            </form>
        </div>
    </div>

    {% endblock %}
</div>
</div>
</div>