{% extends "base.html"%} {% block title %} Login {% endblock %} {% block
content%}

<form action="" method="POST">
  <h4 align="center" class="mb-3">Verify</h4>
  <div class="form-group">
    <label for="code">Password</label>
    <input
      type="text"
      class="form-control"
      id="code"
      name="code"
      placeholder="Enter 6-character SMS verification code"
      minlength="6"
      maxlength="6"
    />
  </div>

  <button
    class="btn btn-primary btn-block fa-md mb-2.5 pt-2 pb-2 login-login-btn"
    type="Submit"
  >
    Submit
  </button>

  <form class="otc" name="one-time-code" action="#">
    <fieldset>
      <legend>Validation Code</legend>

      <!-- https://developer.apple.com/documentation/security/password_autofill/enabling_password_autofill_on_an_html_input_element -->
      <div>
        <input
          type="number"
          pattern="[0-9]*"
          value=""
          inputtype="numeric"
          autocomplete="one-time-code"
          id="otc-1"
          required
        />

        <!-- Autocomplete not to put on other input -->
        <input
          type="number"
          pattern="[0-9]*"
          min="0"
          max="9"
          maxlength="1"
          value=""
          inputtype="numeric"
          id="otc-2"
          required
        />
        <input
          type="number"
          pattern="[0-9]*"
          min="0"
          max="9"
          maxlength="1"
          value=""
          inputtype="numeric"
          id="otc-3"
          required
        />
        <input
          type="number"
          pattern="[0-9]*"
          min="0"
          max="9"
          maxlength="1"
          value=""
          inputtype="numeric"
          id="otc-4"
          required
        />
        <input
          type="number"
          pattern="[0-9]*"
          min="0"
          max="9"
          maxlength="1"
          value=""
          inputtype="numeric"
          id="otc-5"
          required
        />
        <input
          type="number"
          pattern="[0-9]*"
          min="0"
          max="9"
          maxlength="1"
          value=""
          inputtype="numeric"
          id="otc-6"
          required
        />
      </div>
    </fieldset>
  </form>

  <div class="w-full h-full flex justify-center items-center">
    <!-- outer grey box -->
    <div
      class="h-1/4 w-1/4 bg-[#343434] flex justify-evenly flex-col sm:flex-row p-20 rounded-3xl"
    ></div>
  </div>

  {% endblock %}
</form>
