{% extends "base.html"%} {% block title %} Login {% endblock %} 

{% block content%}

<form action="" method="POST">
    <h4 align="center" class="mb-3">Verify</h4>
    <div class="form-group">
        <label for="code">Password</label>
        <input type="text" class="form-control" id="code" name="code" placeholder="Enter 6-character SMS verification code"
            minlength="6" maxlength="6"/>
    </div>
    
    <button class="btn btn-primary btn-block fa-md mb-2.5 pt-2 pb-2 login-login-btn" type="Submit">

{% endblock %}